<a href="{{ url(constant('FMT\\PublicBundle\\Controller\\Common\\PdfController::ROUTE_RECEIPT'), {id: transaction.id}) }}">
    <i class="fa fa-fw fa-download"></i>
    {{ 'fmt.transaction_history.donor.table.download'|trans }}
</a>
