<div class="col col-xs-12 col-md-3 registration-box" id="registration-box">
    <div class="row">
        <div class="col col-xs-6 col-md-12 donor-block">
            <button class="btn btn-primary show-signup-popup" data-show-signup="donor">
                {{ 'fmt.registration.confirmation.be_a_donor'|trans|upper }}
            </button>
        </div>
        <div class="col col-xs-6 col-md-12 student-block">
            <button class="btn btn-primary show-signup-popup" data-show-signup="student">
                {{ 'fmt.registration.confirmation.get_funded'|trans|upper }}
            </button>
        </div>
    </div>
</div>
