<h1>TODO: Place me on the original layout of the site</h1>
<pre>
    Code: {{ code }}
    Message: {{ message }}
    {% if exception is defined %}Class: {{ exception }}{% endif %}

    {% if backtrace is defined %}Backtrace: {{ backtrace }}{% endif %}
</pre>