/.idea
/.web-server-pid
/app/config/parameters.yml
/app/config/parameters.yml.dist
/build.properties
/build/logs/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/web/bundles/
/web/.htaccess
/web/assetic
/web/css
/web/js
/web/fonts
/web/images
/web/avatar
/src/FMT/DomainBundle/Resources/aws_lambda/lib/node_modules
npm-debug.log
/.php_cs.cache
