<h3 class="popup-header" style="font-size: 25px">
    {{ 'fmt.campaign.student.thanks_popup.header.already_thanks'|trans }}
</h3>
<p class="thanks-text">{{ 'fmt.campaign.student.thanks_popup.subheader.already_thanks'|trans }}</p>
<div>
    <i class="fa fa-quote-left left-quote" aria-hidden="true"></i>
    <div class="thanks-text-area">
        <textarea class="form-control" readonly class="thanks-text">{{ thanksText }}</textarea>
    </div>
    <i class="fa fa-quote-right right-quote" aria-hidden="true"></i>
</div>
