<div class="modal fade default-modal-popup" id="modal-default" data-popup="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span></button>
                <h4 class="modal-title" data-popup-title="true">Default Modal</h4>
            </div>
            <div class="modal-body" data-popup-body="true">
                <p>One fine body…</p>
            </div>
            <div class="modal-footer" data-popup-footer="true">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal"
                        data-type="modal-button">{{ 'fmt.campaign.textbooks.popup.browse.close'|trans|upper }}</button>
            </div>
        </div>
    </div>
</div>
