<div class="box-header with-border">
    {% include '@Public/donor/transaction_history/_filter_block.html.twig' %}
</div>
<div class="box-body" data-ajax-container="container">
    {% include '@Public/donor/transaction_history/_table.html.twig' %}
</div>
