<div>Password Requirements:</div>
<div data-requirment="length" class="form-group no-margin">
    <span class="help-block no-margin">
        -- At least 8 characters long.
        <i class="fa fa-check"></i>
        <i class="fa fa-times"></i>
    </span>
</div>
<div data-requirment="upper" class="form-group no-margin">
    <span class="help-block no-margin">
        -- At least 1 capital letter.
        <i class="fa fa-check"></i>
        <i class="fa fa-times"></i>
    </span>
</div>
<div data-requirment="lower" class="form-group no-margin">
    <span class="help-block no-margin">
        -- At least 1 lower case letter.
        <i class="fa fa-check"></i>
        <i class="fa fa-times"></i>
    </span>
</div>
<div data-requirment="number" class="form-group no-margin">
    <span class="help-block no-margin">
        -- At least 1 number.
        <i class="fa fa-check"></i>
        <i class="fa fa-times"></i>
    </span>
</div>
<div data-requirment="special_character" class="form-group no-margin">
    <span class="help-block no-margin">
        -- At least 1 special character.
        <i class="fa fa-check"></i>
        <i class="fa fa-times"></i>
    </span>
</div>
<div data-requirment="both" class="form-group no-margin margin-bottom-10">
    <span class="help-block no-margin">
        -- Both passwords must match.
        <i class="fa fa-check"></i>
        <i class="fa fa-times"></i>
    </span>
</div>
