<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
    Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.
    Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
    Nam fermentum, nulla luctus pharetra vulputate, felis tellus. Proin sodales pulvinar tempor.
</p>
<button class="btn btn-primary show-signup-popup" data-show-signup="donor">{{ 'fmt.registration.confirmation.be_a_donor'|trans|upper }}</button>
<button class="btn btn-primary show-signup-popup" data-show-signup="student">{{ 'fmt.registration.confirmation.get_funded'|trans|upper }}</button>
