{% extends '@Public/common/general-layout.html.twig' %}

{% block content %}
<section class="content">
    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title">Thank you!</h3>
        </div>
        <div class="box-body">
            <p>Thank you so very much for your generous donation. The inability to afford college textbooks in a timely manner shouldn’t stand in the way of a college education. Your support will provide meaningful and memorable support to {{student}}’s academic success.</p>
        </div>
    </div>
</section>
{% endblock content %}
